<form id="login" target="frame" method="post" action="http://integration.engageska-portugal.pt/auth/login">
</form>

<iframe id="frame" name="frame" height="100%" width="100%"></iframe>

<script type="text/javascript">
    // submit the form into iframe for login into remote site
    document.getElementById('login').submit();

    // once you're logged in, change the source url (if needed)
    var iframe = document.getElementById('frame');
    iframe.onload = function() {
        if (iframe.src != "http://integration.engageska-portugal.pt/testdb") {
            iframe.src = "http://integration.engageska-portugal.pt/testdb";
        }
    }
</script>


